:root{
    --gradient:linear-gradient(180deg, #076653 0%, #0C342C 50.48%, #06231D 100%) ; 
    --cta:#E0ED3D;
    --greendark:#06231E;
    --gray:rgba(137, 137, 137, 0.20);
    --gray-border:1px solid rgba(255, 255, 255, 0.10);
    --black:#000;
    --white:#fff;
    --bieg:#FFDFBE;
    --gray-text:#C0C0C0;
    --greenl:#076653;
}
 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px; 
}


::-webkit-scrollbar-track {
  background-color: var(--greendark);
}


::-webkit-scrollbar-thumb {
  background-color: var(--cta);
  border-radius: 10px;
  border: 2px solid var(--black); 
}


::-webkit-scrollbar-thumb:hover {
  background-color: var(--cta); 
}
html {
    scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:var(--gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader img {
  width: 300px;
  height: auto;
}

body{
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: var(--greendark);

}
a,li{
list-style-type: none;
text-decoration: none;}
.header{
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 400px;
 

    
}


        .nav-link {
color: var(--bieg);
font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                text-decoration: none;

    position: relative;
            padding: 8px 0;
        }

         .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
            height: 3px;
    background: var(--cta);
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 20px;
}

         .nav-link:hover {
            color: var(--cta);
            transform: translateY(-2px);
        }

         .nav-link:hover::before {
            width: 100%;
        }
        .logo{
            width: 80px;
            height: auto;
        }

    .section1{
        width: 100%;
        height: 1559px;
        background-image: url("img/MacBook Air - 2.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section1-title{
       color: var(--bieg);
font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal; 
opacity: 0.84;
    }

